# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual Environment
venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
egup.db
/media/
/staticfiles/

# Environment variables
.env
.env.local

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.code-workspace

# IDE
.idea/
*.swp
*.swo
